@import "foundation";
@import "font-awesome";

$gradient: linear-gradient(45deg, #E44753, skyblue);
$gradient2: linear-gradient(45deg, #E44753, #72ABC0);


body {
  background: #E44753;
  
}

.container {
  background-image: url(../photos/kedaAndDad.jpg); 
  width: 420px;
  height: 500px;
  margin: auto;
  margin-top: 200px;
  
}

.likes {
  margin-top: 420px;
  margin-left: 10px;
  font-family: cursive;
  font-size: 1rem;
  letter-spacing: 5px;
  border: 4px solid transparent;
  border-image: $gradient;
  border-image-slice: 1;
  background: $gradient;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  transition: all 0.2s ease;
  &:hover {
    border-image: $gradient;
    background: $gradient2;
  }
}

